@font-face {
  font-family: "San Francisco";
  font-style: normal;
  font-weight: 200;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff2)
      format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff)
      format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.ttf)
      format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.svg#San Francisco Display Ultralight")
      format("svg");
}

@font-face {
  font-family: "San Francisco";
  font-style: normal;
  font-weight: 300;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2)
      format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff)
      format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.ttf)
      format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.svg#San Francisco Display Thin")
      format("svg");
}

@font-face {
  font-family: "San Francisco";
  font-style: normal;
  font-weight: 400;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff2)
      format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff)
      format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.ttf)
      format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.svg#San Francisco Display Medium")
      format("svg");
}

@font-face {
  font-family: "San Francisco";
  font-style: normal;
  font-weight: 500;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2)
      format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff)
      format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf)
      format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.svg#San Francisco Display Semibold")
      format("svg");
}

@font-face {
  font-family: "San Francisco";
  font-style: normal;
  font-weight: 600;
  src: url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff2)
      format("woff2"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff)
      format("woff"),
    url(https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.ttf)
      format("truetype"),
    url("fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.svg#San Francisco Display Bold")
      format("svg");
}

body {
  margin: 0 22.5px;
}

body * {
  font-family: "San Francisco";
  font-weight: 200;
}

/* Nav bar */
nav {
  position: absolute;
  top: 80px;
  left: 70px;
  width: 845px;
}

.flex-container {
  display: flex;
}

.nav-item {
  font-family: "San Francisco";
  padding: 3px 0;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: white;
  text-align: center;
  background: linear-gradient(
      rgb(123, 123, 123),
      rgb(94, 94, 94),
      rgb(112, 112, 112)
    )
    no-repeat;
  flex: 1;
}

/* Header */
header {
  display: block;
  margin: 0 auto;
  width: 1440px;
  height: 538px;
  background: orange url("resources/images/main_background.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 70px;
  padding: 10px 0;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 30px;
}

h3 {
  font-size: 27px;
  font-weight: 300;
  padding: 10px 0;
}

/* Cards */
.card-container {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-collapse: collapse;
}

.card {
  min-width: 256px;
  height: 200px;
  border: 2px solid white;
}
